<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>to do lists</title>
</head>
<body>
    <dir class="container-fluid">
    <h1> <%= kindOfDay %> </h1>

    <ul>
        <% for(var i=0 ; i<newListItems.length ; i++){ %>
            <li> <blockquote class="blockquote">  <%=   newListItems[i]   %></blockquote></li>
        <% }  %>
    </ul>

    <form action="/" method="POST">
        <input type="text" name="newItem"  class="form-control input-group flex-nowrap">
        <button class="btn btn-outline-secondary" type="submit"> ADD in list </button>
    </form>
</dir>
</body>
</html>
